# Financial Market APIs
- How to access datafeeds used by [OpenBB](https://openbb.co/) and mentioned in [this post](https://medium.com/@peteramaral/want-to-be-informed-like-a-hedge-fund-manager-add-these-api-keys-to-your-openbb-terminal-8f96c2256b22)
- Didn't install 
    - crypto-related stuff
    - [IEX](https://iexcloud.io/pricing) (looks super interesting but data bundles are expensive)
    - [Databento](https://databento.com/pricing) (looks interesting and reasonably priced market data, just using free tier for now)
    - [Oanda](https://www.oanda.com/foreign-exchange-data-services/en/exchange-rates-api/free-trial/) (don't care as much about FX for now)

In [15]:
import os
from datetime import datetime
import requests
import pandas as pd

from IPython.display import display, Markdown

import dotenv
dotenv.load_dotenv()

True

# Alpha Vantage
- [Data](https://www.alphavantage.co/documentation/)
- don't see pricing plan, just using free APIs for now
- [Get a key](https://www.alphavantage.co/support/#api-key)

In [3]:
ALPHAVANTAGE_API_KEY = os.environ['ALPHAVANTAGE_API_KEY']

In [46]:
# overview
url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol=IBM&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
pd.DataFrame(data, index=[1]).transpose()

                                                                            1
Symbol                                                                    IBM
AssetType                                                        Common Stock
Name                                          International Business Machines
Description                 International Business Machines Corporation (I...
CIK                                                                     51143
Exchange                                                                 NYSE
Currency                                                                  USD
Country                                                                   USA
Sector                                                             TECHNOLOGY
Industry                                          COMPUTER & OFFICE EQUIPMENT
Address                                    1 NEW ORCHARD ROAD, ARMONK, NY, US
FiscalYearEnd                                                        December
LatestQuarter                                                      2023-06-30
MarketCapitalization                                             126163771000
EBITDA                                                            12644000000
PERatio                                                                 62.03
PEGRatio                                                                1.276
BookValue                                                               23.79
DividendPerShare                                                          6.6
DividendYield                                                          0.0491
EPS                                                                      2.24
RevenuePerShareTTM                                                      66.97
ProfitMargin                                                           0.0303
OperatingMarginTTM                                                      0.132
ReturnOnAssetsTTM                                                      0.0376
ReturnOnEquityTTM                                                       0.101
RevenueTTM                                                        60585001000
GrossProfitTTM                                                    32688000000
DilutedEPSTTM                                                            2.24
QuarterlyEarningsGrowthYOY                                              0.253
QuarterlyRevenueGrowthYOY                                               0.004
AnalystTargetPrice                                                     142.24
TrailingPE                                                              62.03
ForwardPE                                                               15.55
PriceToSalesRatioTTM                                                    2.108
PriceToBookRatio                                                         6.75
EVToRevenue                                                             2.969
EVToEBITDA                                                              25.81
Beta                                                                    0.848
52WeekHigh                                                             149.31
52WeekLow                                                              111.29
50DayMovingAverage                                                     131.62
200DayMovingAverage                                                    133.73
SharesOutstanding                                                   908045000
DividendDate                                                       2023-06-10
ExDividendDate                                                     2023-05-09

In [48]:
# last quote
url = f'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=IBM&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
pd.DataFrame(data)

                       Global Quote
01. symbol                      IBM
02. open                   138.2100
03. high                   139.7799
04. low                    137.7600
05. price                  138.9400
06. volume                  5858741
07. latest trading day   2023-07-21
08. previous close         138.3800
09. change                   0.5600
10. change percent          0.4047%

In [49]:
# intraday history
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
pd.DataFrame(data)

,Meta Data,Time Series (5min)
1. Information,"Intraday (5min) open, high, low, close prices ...",NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2023-07-21 19:50:00,NaN
4. Interval,5min,NaN
5. Output Size,Compact,NaN
...,...,...
2023-07-21 10:35:00,NaN,"{'1. open': '139.0300', '2. high': '139.1500',..."
2023-07-21 10:30:00,NaN,"{'1. open': '138.9750', '2. high': '139.1200',..."
2023-07-21 10:25:00,NaN,"{'1. open': '138.8700', '2. high': '139.1100',..."
2023-07-21 10:20:00,NaN,"{'1. open': '138.9100', '2. high': '139.0900',..."
2023-07-21 10:15:00,NaN,"{'1. open': '138.8900', '2. high': '139.0500',..."

In [5]:
# ticker lookup
url = f'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=Microsoft&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
print(data)

{'bestMatches': [{'1. symbol': 'MSF0.FRK', '2. name': 'MICROSOFT CORP. CDR', '3. type': 'Equity', '4. region': 'Frankfurt', '5. marketOpen': '08:00', '6. marketClose': '20:00', '7. timezone': 'UTC+02', '8. currency': 'EUR', '9. matchScore': '0.6429'}, {'1. symbol': 'MSFT', '2. name': 'Microsoft Corporation', '3. type': 'Equity', '4. region': 'United States', '5. marketOpen': '09:30', '6. marketClose': '16:00', '7. timezone': 'UTC-04', '8. currency': 'USD', '9. matchScore': '0.6154'}, {'1. symbol': '0QYP.LON', '2. name': 'Microsoft Corporation', '3. type': 'Equity', '4. region': 'United Kingdom', '5. marketOpen': '08:00', '6. marketClose': '16:30', '7. timezone': 'UTC+01', '8. currency': 'USD', '9. matchScore': '0.6000'}, {'1. symbol': 'MSF.DEX', '2. name': 'Microsoft Corporation', '3. type': 'Equity', '4. region': 'XETRA', '5. marketOpen': '08:00', '6. marketClose': '20:00', '7. timezone': 'UTC+02', '8. currency': 'EUR', '9. matchScore': '0.6000'}, {'1. symbol': 'MSF.FRK', '2. name': 'Microsoft Corporation', '3. type': 'Equity', '4. region': 'Frankfurt', '5. marketOpen': '08:00', '6. marketClose': '20:00', '7. timezone': 'UTC+02', '8. currency': 'EUR', '9. matchScore': '0.6000'}, {'1. symbol': 'MSFT34.SAO', '2. name': 'Microsoft Corporation', '3. type': 'Equity', '4. region': 'Brazil/Sao Paolo', '5. marketOpen': '10:00', '6. marketClose': '17:30', '7. timezone': 'UTC-03', '8. currency': 'BRL', '9. matchScore': '0.6000'}]}

In [51]:
url = f'https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=TSLA&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()

for item in data['feed']:
    markdown_str = ""
    date_object = datetime.strptime(item['time_published'], "%Y%m%dT%H%M%S")
    markdown_str += f"[{str(date_object)} {item['title']}]({item['url']})\n {item['summary']}"
    display(Markdown(markdown_str))

[2023-07-23 15:43:44 Elon Musk Confirms He'll Swap Twitter Logo for 'X' Tomorrow](https://decrypt.co/149692/elon-musk-twitter-brand-x-app-everything-super-app)
 The tech mogul said the Twitter logo will be cut off its San Francisco headquarters on Monday as the company pivots toward an "everything app." ...

[2023-07-23 15:33:30 Out With The Twitter Bird, In With Letter 'X': Musk Teases Most Radical Twitter Rebrand Yet](https://www.forbes.com/sites/brianbushard/2023/07/23/out-with-the-twitter-bird-in-with-letter-x-musk-teases-most-radical-twitter-rebrand-yet/)
 Twitter's switch from its iconic bird logo to the letter X could come as soon as Monday.

[2023-07-23 14:18:20 Musk's Scooby-Doo Meme, Tesla's Bitcoin Position, Black Swan Author's NFT Critique And More: This Week In Crypto - BlackRock  ( NYSE:BLK ) , Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/markets/cryptocurrency/23/07/33335322/musks-scooby-doo-meme-teslas-bitcoin-position-black-swan-authors-nft-critique-and-more-thi)
 This week in the world of cryptocurrency was nothing short of eventful. From Elon Musk's influence on Dogecoin to the fluctuating valuation of Jack Dorsey's tweet NFT, the crypto landscape was buzzing with activity. Meanwhile, Tesla's unchanged Bitcoin position and Robert F.

[2023-07-23 13:49:00 Musk Hints Twitter's Bird Branding Could Be Replaced](https://www.barrons.com/news/musk-hints-twitter-s-bird-branding-could-be-replaced-6cb20dd9)
 Twitter owner Elon Musk hinted late Saturday night that he may ditch the social media network's blue cartoon bird branding -- and soon -- for an edgier logo based on an "everything app" he has long alluded to called only X.

[2023-07-23 13:30:00 The "Magnificent Seven" Stocks Are Soaring Toward a Bull Market: 2 Ideal Index Funds to Buy Now](https://www.fool.com/investing/2023/07/23/magnificent-seven-stocks-2-index-funds-to-buy/)
 These index funds provide heavy exposure to Apple, Microsoft, Alphabet, Amazon, Nvidia, Tesla, and Meta Platforms.

[2023-07-23 12:15:00 Is Rivian Stock a Buy?](https://www.fool.com/investing/2023/07/23/is-rivian-stock-a-buy/)
 Rivian recently announced solid production numbers, leading to a swift stock price advance. But it is still a risky investment.

[2023-07-23 11:43:00 Musk says Twitter to change logo to "X" from the bird. Changes could come as early as Monday.](https://apnews.com/article/elon-musk-twitter-logo-x-bird-d58758cdd3f8441e7d2c8d3ac827ba90)
 NEW YORK ( AP ) - Elon Musk said Sunday that he plans to change the logo of Twitter to an "X" from the bird, marking what would be the latest big change since he bought the social media platform for last year. In a series of posts on his Twitter account starting just after 12 a.m.

[2023-07-23 11:40:00 What's ahead this week for Wall Street and the economy | Business](https://www.cnn.com/2023/07/23/business/stocks-week-ahead-fed-tech-earnings/index.html)
 What's ahead this week for Wall Street and the economy ...

[2023-07-23 11:00:00 Earnings Season Accelerates With The Fed Set To Hike Rates](https://www.forbes.com/sites/bill_stone/2023/07/23/earnings-season-accelerates-with-the-fed-set-to-hike-rates/)
 The headline earnings decline worsened, but the details were more supportive for stocks. This week will be the second busiest of this earnings season. The Federal Reserve meeting on Wednesday will be closely watched despite the outcome being almost preordained.

[2023-07-23 11:00:00 Call This a Spare-Tire Trade, in Case the Air Comes Out of Tesla](https://realmoney.thestreet.com/investing/stocks/call-this-a-spare-tire-trade-in-case-the-air-comes-out-of-tesla-16129311)
 Few stocks in the market incite such passion from bulls and bears alike as does Tesla ( TSLA ) . Proponents of the company believe it is on the vanguard of the massive paradigm shift that will see electrical vehicles mostly displace the internal combustion engine marketplace in the coming years.

[2023-07-23 11:00:00 3 Things About Tesla That Smart Investors Know](https://www.fool.com/investing/2023/07/23/3-things-about-tesla-that-smart-investors-know/)
 There's a lot going on under the hood with this top EV business.

[2023-07-23 10:07:00 Warren Buffett Has a Clever Analogy for What It's Like to Be a Publicly Traded Company -- Elon Musk Agrees, as Far as Tesla's Concerned](https://www.fool.com/investing/2023/07/23/warren-buffett-has-clever-analogy-for-companies/)
 Musk tweeted about a recent surge in certain tech stocks.

[2023-07-23 09:04:10 This Week In AI: Wall Street, Cancer Cure And Big Tech's AI Developments - Meta Platforms  ( NASDAQ:META ) , Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/news/23/07/33334712/this-week-in-ai-wall-street-cancer-cure-and-big-techs-ai-developments)
 This week in artificial intelligence was marked by the potential of AI replacing Wall Street traders, the use of AI in cancer treatment, President Joe Biden's playful comment about AI, Mark Zuckerberg's decision to open up Meta's LLaMA 2 to developers, and Apple's work on AI tools.

[2023-07-23 07:13:00 Elon Musk says Twitter logo to change, birds to be gradually abandoned | Business](https://www.cnn.com/2023/07/23/business/elon-musk-twitter-revamp-intl-hnk/index.html)
 Elon Musk says Twitter logo to change, birds to be gradually abandoned ...

[2023-07-22 21:00:50 Worried About Higher Interest Rates? Tesla Now Offers Auto Loans That You Can Pay Off In 7 Years. - Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/markets/equities/23/07/33333942/worried-about-higher-interest-rates-tesla-now-offers-auto-loans-that-you-can-pay-off-in-7-years)
 Tesla. Inc. TSLA CEO Elon Musk previously expressed concerns about the impact of rising interest rates on car purchases and floated the prospect of cutting vehicle prices even further. What Happened: The company's website shows that the duration of a loan extended by a Tesla financier or ...

[2023-07-22 19:18:31 Oceangate's CEO Stockton Rush Was Trying To Be The Elon Musk Of The Deep, His Former Colleagues Say](https://www.benzinga.com/news/23/07/33333605/oceangates-ceo-stockton-rush-was-trying-to-be-the-elon-musk-of-the-deep-his-former-colleagues-say)
 OceanGate CEO Stockton Rush, who was among the five passengers who died in the Titan submersible on June 18, was an ambitious entrepreneur with "a fatal flaw," according to Insider.

[2023-07-22 18:39:00 Three Big Tests Loom For AI, Market Rally](https://www.investors.com/market-trend/stock-market-today/dow-jones-futures-microsoft-google-meta-earnings-are-big-test-for-market-rally/)
 Dow Jones Futures: Microsoft, Google, Meta Earnings Are Big Test For AI, Market Rally Investor's Business Daily ...

[2023-07-22 15:13:57 Barron's Weekend Stock Picks: Barbie Bonanza, Vertex's Promising Drug And Tesla Doubts - Mattel  ( NASDAQ:MAT ) , AMC Enter Hldgs  ( NYSE:AMC ) ](https://www.benzinga.com/news/23/07/33333490/barrons-weekend-stock-picks-barbie-bonanza-vertexs-promising-drug-and-tesla-doubts)
 Benzinga reviews this weekend's top stories covered by Barron's. Here are the articles investors need to read. In "It's the Summer of Barbie.

[2023-07-22 14:41:00 Correction in Tesla, Netflix shares could last several weeks, stock charts warn](https://www.marketwatch.com/story/tesla-and-netflix-shares-face-several-weeks-of-weakness-stock-charts-warn-2ec05407)
 The stocks of both Tesla and Netflix fell into correction territory Friday, and charts suggest the selloffs could continue for as long as several weeks.

[2023-07-22 13:37:00 These stock watchers nailed the market's melt-up, but now they're bracing for a fall. Here's what to watch.](https://www.marketwatch.com/story/these-stock-watchers-nailed-the-markets-melt-up-but-now-theyre-bracing-for-a-fall-heres-what-to-watch-3ba46ccf)
 U.S. stocks are enjoying a breathtaking march higher despite some obvious headwinds. But that streak of winds could come crashing down.

[2023-07-22 13:37:00 Cathie Wood Sold Off $21 Million of Tesla Stock Hours Before Earnings Dip -- Now She's Scooping Up This Magnificent Growth Stock](https://www.fool.com/investing/2023/07/22/cathie-wood-sold-21-million-of-tesla-stock-hours/)
 Tesla likely remains Cathie Wood's favorite. But she really likes another stock right now, too.

[2023-07-22 13:32:13 Benzinga Bulls And Bears: AMC, Apple, Philip Morris, Ford, And Elon Musk's 'Demon Mode'](https://markets.businessinsider.com/news/stocks/benzinga-bulls-and-bears-amc-apple-philip-morris-ford-and-elon-musk-s-demon-mode-1032467110)
 Benzinga examined the prospects for many investors' favorite stocks over the last week - here's a look at some of our top stories. The S&P 500 and the Dow Jones Industrial Average ( DJIA ) ended the week on a positive note, with gains of 0.69% and 2.08% respectively, marking the second ...

[2023-07-22 13:32:12 AMC, Apple, Philip Morris, Ford, And Elon Musk's 'Demon Mode': Bulls And Bears - Apple  ( NASDAQ:AAPL ) , AMC Enter Hldgs  ( NYSE:AMC ) ](https://www.benzinga.com/news/large-cap/23/07/33330243/benzinga-bulls-and-bears-amc-apple-philip-morris-ford-and-elon-musks-demon-mode)
 Benzinga examined the prospects for many investors' favorite stocks over the last week - here's a look at some of our top stories. The S&P 500 and the Dow Jones Industrial Average ( DJIA ) ended the week on a positive note, with gains of 0.69% and 2.08% respectively, marking the second ...

[2023-07-22 13:17:00 Marvell Leads 3 AI Stocks Near Buy Points](https://www.investors.com/news/ai-stocks-lead-5-names-near-buy-points/)
 AI Stocks Lead These 5 Names Near Buy Points Investor's Business Daily ...

[2023-07-22 12:45:01 People put down deposits for every electric truck in development, leaving dealers in the lurch when they eventually cancel all but one](https://markets.businessinsider.com/news/stocks/dealers-lose-as-customers-place-bets-on-multiple-electric-trucks-2023-7)
 • Dealers lose in the race to get an electric truck in consumers' driveways. • Dealers have more to lose than manufacturers, who book revenue once the truck leaves the factory. • Order banks are only going to get riskier as EV adoption increases.

[2023-07-22 12:45:00 People put down deposits for every electric truck in development, leaving dealers in the lurch when they eventually cancel all but one](https://www.businessinsider.com/dealers-lose-as-customers-place-bets-on-multiple-electric-trucks-2023-7)
 Dealers lose as customers place bets on multiple electric trucks - Business Insider ...

[2023-07-22 12:29:07 Cathie Wood Booked Profit On Some Tesla Holdings Ahead Of Stock's Post-Earnings 11% Plunge - Here's How Much Ark Sold This Week - ARK Next Generation Internet ETF  ( ARCA:ARKW ) , Tesla  ( NASDAQ:TSLA ) , ARK Innovation ETF  ( ARCA:ARKK ) ](https://www.benzinga.com/markets/equities/23/07/33333172/cathie-wood-booked-profit-on-some-tesla-holdings-ahead-of-stocks-post-earnings-11-plunge-heres-h)
 Tesla, Inc. TSLA is a top holding in many of the Cathie Wood-run Ark Invest's actively managed portfolios. The firm is bullish on the electric vehicle giant and its prospects. This week, Ark, through its flagship Ark Innovation ETF ARKK and Ark Next Generation Internet ETF ARKW, liquidated its ...

[2023-07-22 12:18:59 Tesla's Earnings Swoon, Ford Ups Ante With F-150 Lightning Price Cuts, Fisker India-Bound And More: Biggest EV Stories Of The Week - Tesla  ( NASDAQ:TSLA ) , Fisker  ( NYSE:FSR ) , Ford Motor  ( NYSE:F ) , Nikola  ( NASDAQ:NKLA ) , Rivian Automotive  ( NASDAQ:RIVN ) ](https://www.benzinga.com/analyst-ratings/analyst-color/23/07/33333146/teslas-earnings-swoon-ford-ups-ante-with-f-150-lightning-price-cuts-fisker-india-bo)
 Tesla's Post-Earnings Sell-Off, Cybertruck Sightings And More: Tesla reported better-than-expected earnings and revenue for the quarter. Its vehicle margin, excluding regulatory credits, even came in better than expected. Investors, however, sent the stock down by about 10% in a post-earnings ...

[2023-07-22 12:01:10 Elon Musk's Tesla Stock Overvalued By 1,000% - Market Price 'Disconnected From Reality,' Says Analyst - Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/analyst-ratings/analyst-color/23/07/33333060/elon-musks-tesla-stock-overvalued-by-1-000-market-price-disconnected-from-reality-s)
 Elon Musk's Tesla Inc. TSLA may be riding high on the AI-fueled tech stock boom of 2023, but not everyone is convinced of its valuation. David Trainer, CEO of investment research firm New Constructs, suggests that the electric vehicle ( EV ) giant is more than 1,000% overvalued, Business Insider ...

[2023-07-22 12:00:00 If You Invested $1,000 in Tesla in 2018, This Is How Much You Would Have Today](https://www.fool.com/investing/2023/07/22/if-you-invested-1000-in-tesla-in-2018-this-is-how/)
 Owning this EV stock could have been a huge win for your portfolio.

[2023-07-22 11:20:00 Meet a 64-year-old San Francisco Uber driver who says switching to a Tesla has saved him more than $1,000 a month on gas and maintenance](https://www.businessinsider.com/uber-green-rent-tesla-save-money-ridehail-budgeting-gig-work-2023-7)
 San Fran Uber driver saves $1,400 a month on gas renting a Tesla EV - Business Insider ...

[2023-07-22 11:10:00 Austin went from a 'weird' oasis to one of the most expensive cities in the US. Now it's fighting runaway housing prices.](https://www.businessinsider.com/austin-housing-market-prices-surging-multi-unit-zoning-could-decrease-2023-7)
 Austin housing market prices are surging. Multi-unit housing could fix that. - Business Insider ...

[2023-07-22 10:47:00 MrBeast plans to take on Hershey's with his Feastables brand - and says shorting a stock 'seems lame'](https://markets.businessinsider.com/news/stocks/mrbeast-feastables-youtube-hershey-buffett-musk-candy-chocolate-short-stocks-2023-7)
 MrBeast will take on Hershey's with Feastables, says shorting is lame - Markets Insider ...

[2023-07-22 10:45:00 I spent a day with Rolls-Royce's newest car and saw why it's worth every penny of its $420,000 price tag](https://africa.businessinsider.com/transportation/i-spent-a-day-with-rolls-royces-newest-car-and-saw-why-its-worth-every-penny-of-its/m396gb8)
 I spent a day with Rolls-Royce's newest car and saw why it's worth every penny of its $420000 price tag - Business Insider Africa ...

[2023-07-22 09:52:08 Older investors take a pass on bonds](https://theweek.com/feature/1025176/older-investors-take-a-pass-on-bonds)
 Here are three of the week's top pieces of financial insight, gathered from around the web: More older Americans are investing "like 30-year-olds," said Anne Tergesen in The Wall Street Journal.

[2023-07-22 09:51:00 Could Warren Buffett's Berkshire Hathaway Beat Meta and Tesla in Joining the $1 Trillion Club?](https://www.fool.com/investing/2023/07/22/could-warren-buffetts-berkshire-hathaway-beat-meta/)
 The current market dynamics favor Meta and Tesla. But things could change.

[2023-07-22 09:13:07 Biden Engages Tech Giants On AI Regulations, Snubs Musk - Microsoft  ( NASDAQ:MSFT ) , Alphabet  ( NASDAQ:GOOG ) , Alphabet  ( NASDAQ:GOOGL ) , Meta Platforms  ( NASDAQ:META ) , Tesla  ( NASDAQ:TSLA ) , Amazon.com  ( NASDAQ:AMZN ) ](https://www.benzinga.com/news/23/07/33332673/elon-musk-preaches-ai-regulations-left-and-right-but-got-snubbed-by-biden-administration-again)
 In the ongoing push for AI regulations, Elon Musk once again found himself on the outside looking in as the Biden administration steers discussions with other tech giants. What Happened: Musk, the visionary entrepreneur behind Tesla Inc. TSLA and SpaceX, has been an outspoken advocate for ...

[2023-07-22 07:55:43 Dogecoin Briefly Became 8th-Largest Crypto - Emeren Group  ( NYSE:SOL ) , Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/markets/cryptocurrency/23/07/33332516/elon-musks-favored-dogecoin-briefly-became-8th-largest-crypto-but-then-this-happened)
 Elon Musk's favored Dogecoin DOGE/USD experienced a rise, briefly claiming the position of the world's eighth-largest cryptocurrency, before encountering an unexpected turn. What Happened: On Friday, Dogecoin, the meme-inspired digital currency, saw its value rise by more than 10% in a single ...

[2023-07-22 03:57:40 Tesla Cybertruck Reservations Swell To Over 1.9M - Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/markets/equities/23/07/33332166/elon-musks-off-the-hook-cybertruck-demand-comment-proven-right-as-reservations-soar-to-over-1-9m)
 Tesla Inc. TSLA shares have pulled back notably in the two sessions that followed the electric vehicle maker's earnings release. This, however, hasn't deterred the frenzy about Cybertruck. What Happened: Cybertruck reservations swelled to 1,943,876 as of Friday, according to an online ...

[2023-07-22 03:11:18 Tesla's Strong Run 'Might Be Over' For Now, Says Investing Expert - NVIDIA  ( NASDAQ:NVDA ) , Broadcom  ( NASDAQ:AVGO ) , Tesla  ( NASDAQ:TSLA ) ](https://www.benzinga.com/analyst-ratings/analyst-color/23/07/33332046/elon-musk-teslas-strong-run-might-be-over-for-now-says-investing-champion)
 Amid Elon Musk-led Tesla Inc.'s TSLA latest financial reports, concerns have risen as a prominent investing champion suggested that the electric vehicle company's remarkable performance might be at a turning point.

[2023-07-21 22:55:00 Weekly Roundup](https://aap.thestreet.com/story/16129302/1/weekly-rounup.html)
 The Dow Jones industrial average and the S&P 500 added to their July gains this week, while the Nasdaq Composite was little changed ahead of its underlying index getting rebalanced. Helping lift equities higher were the increasingly popular view the economy will encounter a soft landing and ...

[2023-07-21 21:24:00 Earnings Wave Is Here; Why These Are The 3 Reports To Watch](https://www.investors.com/market-trend/stock-market-today/dow-jones-futures-why-microsoft-google-meta-earnings-are-key-for-market-rally/)
 Dow Jones Futures: Why Microsoft, Google, Meta Earnings Are Key For Market Rally Investor's Business Daily ...

[2023-07-21 20:57:00 Threat or not? Elon Musk gets new hearing on tweet about Tesla workers' stock amid UAW union effort](https://apnews.com/article/tesla-elon-musk-labor-union-twitter-e5fd43697d6caecd42d8cc5eb40527a3)
 NEW ORLEANS ( AP ) - A federal appeals court Friday said it will reconsider its March ruling that Tesla CEO to take away employees' stock options in a 2018 Twitter post amid an organizing effort by the United Auto Workers union. Three judges on the 5th U.S.

[2023-07-21 20:46:00 Will Big Tech Earnings Keep the Rally Going?](https://www.zacks.com/commentary/2125643/will-big-tech-earnings-keep-the-rally-going)
 An important part of Tech's improved earnings outlook over the last few months has been a function of more effective cost controls that have helped stabilize margins. But how will the market react?

[2023-07-21 20:32:48 One measure of 'the market' is up 34% this year while another is only up 6%-here's why](https://www.cnbc.com/2023/07/21/difference-between-the-sp-the-dow-and-the-nasdaq.html)
 The "headline" market indexes tend to move together over long periods, but can diverge wildly over the short term.

[2023-07-21 20:20:00 3 Highly-Ranked Large Cap Stocks to Buy Before Earnings for Big Upside](https://www.zacks.com/stock/news/2125639/3-highly-ranked-large-cap-stocks-to-buy-before-earnings-for-big-upside)
 Exploring three highly-ranked large-cap stocks--Honeywell, DexCom, and NextEra Energy--that investors might want to buy before their upcoming earnings releases for both near-term and long-term upside.

[2023-07-21 20:12:23 Dow Jones Leads Weekly Gains As Tesla, Netflix Sell-Offs Dent Nasdaq; Big Banks Show Resilience To Volatility - Apple  ( NASDAQ:AAPL ) , Chevron  ( NYSE:CVX ) , Verizon Communications  ( NYSE:VZ ) , Pfizer  ( NYSE:PFE ) , Microsoft  ( NASDAQ:MSFT ) , Tesla  ( NASDAQ:TSLA ) , Mastercard  ( NYSE:MA ) , AT&T  ( NYSE:T ) , Union Pacific  ( NYSE:UNP ) , Visa  ( NYSE:V ) , Unilever  ( NYSE:UL ) , Shell  ( NYSE:SHEL ) , Netflix  ( NASDAQ:NFLX ) , Alphabet  ( NASDAQ:GOOG ) , Meta Platforms  ( NASDAQ:META ) , Bank of America  ( NYSE:BAC ) , Coca-Cola  ( NYSE:KO ) , General Motors  ( NYSE:GM ) , Morgan Stanley  ( NYSE:MS ) , Colgate-Palmolive  ( NYSE:CL ) , 3M  ( NYSE:MMM ) , McDonald's  ( NYSE:MCD ) , Comcast  ( NASDAQ:CMCSA ) , AstraZeneca  ( NASDAQ:AZN ) , Intel  ( NASDAQ:INTC ) , Procter & Gamble  ( NYSE:PG ) , Exxon Mobil  ( NYSE:XOM ) , Charles Schwab  ( NYSE:SCHW ) , Amazon.com  ( NASDAQ:AMZN ) , Boeing  ( NYSE:BA ) ](https://www.benzinga.com/markets/equities/23/07/33329067/dow-jones-leads-weekly-gains-as-tesla-netflix-sell-offs-dent-nasdaq-big-banks-show-resilience-to)
 The star of the week is the blue-chip Dow Jones, which marked a winning streak of 10 consecutive sessions through Friday, riding high on positive quarterly results from many high-profile defensive stocks. The industrial average is up 2.1% on a weekly basis.

[2023-07-21 19:57:02 What's Going On With Workhorse  ( WKHS )  Stock - Workhorse Gr  ( NASDAQ:WKHS ) ](https://www.benzinga.com/news/23/07/33328504/whats-going-on-with-workhorse-wkhs-stock)
 Workhorse Group Inc WKHS shares are trading lower by 4.91% to $1.16 going into the close of Friday's session. The stock is falling Friday session despite a lack of company-specific news. Several EV stocks on Thursday fell in symapthy with peer Tesla Inc after the company reported second-quarter ...

[2023-07-21 19:56:12 What's Going On With ChargePoint  ( CHPT )  Stock - ChargePoint Hldgs  ( NYSE:CHPT ) ](https://www.benzinga.com/news/23/07/33328115/whats-going-on-with-chargepoint-chpt-stock)
 ChargePoint Holdings Inc CHPT shares are trading higher by 1.1% to $8.35 Friday afternoon. The stock is rising Friday, recovering following Thursday weakness, despite a lack of company-specific news.

[2023-07-21 19:29:00 We tested it and Elon Musk is right: Twitter no longer responds to our emails with a poop emoji](https://www.businessinsider.com/elon-musk-twitter-ends-poop-emoji-press-reply-new-ceo-2023-7)
 Confirmed: Elon Musk's Twitter drops poop emoji emails - Business Insider ...

In [61]:
# income statement
url = f'https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol=IBM&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
pd.DataFrame({d['fiscalDateEnding']:d for d in data['annualReports']})

,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
reportedCurrency,USD,USD,USD,USD,USD
grossProfit,32687000000,31486000000,30865000000,31533000000,36936000000
totalRevenue,60530000000,57350000000,55179000000,57714000000,79591000000
costOfRevenue,27842000000,25865000000,24314000000,26181000000,42655000000
costofGoodsAndServicesSold,385000000,300000000,439000000,591000000,42655000000
operatingIncome,6408000000,4786000000,4609000000,9004000000,10838000000
sellingGeneralAndAdministrative,18609000000,18745000000,20561000000,18724000000,19366000000
researchAndDevelopment,6567000000,6488000000,6262000000,5910000000,5379000000
operatingExpenses,26279000000,26700000000,30966000000,27484000000,26098000000
investmentIncomeNet,None,None,None,None,None
netInterestIncome,-1216000000,-1155000000,-1288000000,-1344000000,-723000000
interestIncome,162000000,52000000,105000000,349000000,264000000
interestExpense,1216000000,1155000000,1288000000,1344000000,723000000
nonInterestIncome,365000000,337000000,-92000000,None,None
otherNonOperatingIncome,443000000,225000000,156000000,968000000,-1152000000
depreciation,2407000000,3888000000,4227000000,4209000000,3127000000
depreciationAndAmortization,2395000000,2529000000,2468000000,1850000000,1353000000
incomeBeforeTax,1013000000,5867000000,4230000000,9491000000,11347000000
incomeTaxExpense,-626000000,124000000,-1360000000,60000000,2619000000
interestAndDebtExpense,1216000000,1155000000,1288000000,1344000000,723000000
netIncomeFromContinuingOperations,1783000000,4712000000,3932000000,7146000000,8723000000
comprehensiveIncomeNetOfTax,8134000000,10582000000,4850000000,10324000000,8252000000
ebit,2229000000,7022000000,5518000000,10835000000,12070000000
ebitda,4624000000,9551000000,7986000000,12685000000,13423000000
netIncome,1639000000,5743000000,5590000000,9431000000,8728000000

In [62]:
# balance sheet
url = f'https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol=IBM&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
pd.DataFrame({d['fiscalDateEnding']:d for d in data['annualReports']})

,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
reportedCurrency,USD,USD,USD,USD,USD
totalAssets,127243000000,132001000000,155971000000,152186000000,123382000000
totalCurrentAssets,29118000000,29539000000,39165000000,38420000000,49146000000
cashAndCashEquivalentsAtCarryingValue,7886000000,6650000000,13188000000,8172000000,11379000000
cashAndShortTermInvestments,7886000000,6650000000,13812000000,8868000000,11997000000
inventory,1552000000,1649000000,1812000000,1619000000,1682000000
currentNetReceivables,14209000000,14977000000,18738000000,23795000000,30563000000
totalNonCurrentAssets,96874000000,101786000000,115864000000,112878000000,68067000000
propertyPlantEquipment,5334000000,5694000000,6205000000,10010000000,10792000000
accumulatedDepreciationAmortizationPPE,13361000000,14390000000,13895000000,22018000000,21668000000
intangibleAssets,67133000000,68154000000,73413000000,73457000000,39352000000
intangibleAssetsExcludingGoodwill,11184000000,12511000000,13796000000,15235000000,3087000000
goodwill,55949000000,55643000000,53765000000,52471000000,36265000000
investments,None,199000000,923000000,974000000,1157000000
longTermInvestments,142000000,159000000,172000000,184000000,192000000
shortTermInvestments,852000000,600000000,600000000,696000000,618000000
otherCurrentAssets,2610000000,5663000000,4776000000,4138000000,4904000000
otherNonCurrentAssets,None,None,None,None,None
totalLiabilities,105222000000,113005000000,135244000000,131202000000,106452000000
totalCurrentLiabilities,31505000000,33619000000,39869000000,37701000000,38227000000
currentAccountsPayable,4051000000,3955000000,4033000000,4896000000,6558000000
deferredRevenue,15531000000,16095000000,17134000000,15877000000,14610000000
currentDebt,9511000000,13551000000,14102000000,16319000000,10207000000
shortTermDebt,4760000000,6787000000,7116000000,8797000000,10207000000
totalNonCurrentLiabilities,83414000000,90188000000,106679000000,100877000000,76767000000
capitalLeaseObligations,164000000,63000000,60000000,5259000000,None
longTermDebt,47190000000,56193000000,68416000000,65953000000,42656000000
currentLongTermDebt,4676000000,6728000000,6956000000,7522000000,7051000000
longTermDebtNoncurrent,46189000000,44917000000,54217000000,54102000000,35605000000
shortLongTermDebtTotal,107759000000,110496000000,130178000000,132187000000,52863000000
otherCurrentLiabilities,9788000000,9386000000,13588000000,10602000000,10297000000
otherNonCurrentLiabilities,12243000000,13996000000,14180000000,14526000000,12174000000
totalShareholderEquity,21944000000,18901000000,20597000000,20841000000,16796000000
treasuryStock,169484000000,169392000000,169339000000,169413000000,168071000000
retainedEarnings,149825000000,154209000000,162717000000,162954000000,159206000000
commonStock,58343000000,57319000000,56556000000,55895000000,55151000000
commonStockSharesOutstanding,906091977,898068600,892653424,887110455,892479411

In [63]:
# cash flow
url = f'https://www.alphavantage.co/query?function=CASH_FLOW&symbol=IBM&apikey={ALPHAVANTAGE_API_KEY}'
r = requests.get(url)
data = r.json()
pd.DataFrame({d['fiscalDateEnding']:d for d in data['annualReports']})

,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
reportedCurrency,USD,USD,USD,USD,USD
operatingCashflow,10435000000,12796000000,18197000000,14770000000,15247000000
paymentsForOperatingActivities,2430000000,2655000000,3406000000,3234000000,1423000000
proceedsFromOperatingActivities,None,None,None,None,None
changeInOperatingLiabilities,213000000,85000000,138000000,-503000000,126000000
changeInOperatingAssets,468000000,-1510000000,-5088000000,-569000000,-879000000
depreciationDepletionAndAmortization,4802000000,6417000000,6695000000,6059000000,4480000000
capitalExpenditures,1346000000,2062000000,2618000000,2286000000,3395000000
changeInReceivables,539000000,-1372000000,-5297000000,-502000000,-1006000000
changeInInventory,-71000000,-138000000,209000000,-67000000,127000000
profitLoss,1639000000,5743000000,5590000000,9431000000,8728000000
cashflowFromInvestment,-4202000000,-5975000000,-3028000000,-26936000000,-4913000000
cashflowFromFinancing,-4958000000,-13354000000,-9721000000,9042000000,-10469000000
proceedsFromRepaymentsOfShortTermDebt,217000000,-40000000,-853000000,-2597000000,1341000000
paymentsForRepurchaseOfCommonStock,None,None,None,1361000000,4443000000
paymentsForRepurchaseOfEquity,None,None,None,1361000000,4443000000
paymentsForRepurchaseOfPreferredStock,None,None,None,None,None
dividendPayout,5948000000,5869000000,5797000000,5707000000,5666000000
dividendPayoutCommonStock,5948000000,5869000000,5797000000,5707000000,5666000000
dividendPayoutPreferredStock,None,None,None,None,None
proceedsFromIssuanceOfCommonStock,None,None,None,None,None
proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,7804000000,522000000,10504000000,31825000000,6891000000
proceedsFromIssuanceOfPreferredStock,None,None,None,None,None
proceedsFromRepurchaseOfEquity,-407000000,-319000000,-210000000,-1361000000,-4443000000
proceedsFromSaleOfTreasuryStock,None,None,None,None,None
changeInCashAndCashEquivalents,None,-6533000000,5448000000,-3124000000,-135000000
changeInExchangeRate,None,None,None,None,None
netIncome,1639000000,5743000000,5590000000,9431000000,8728000000

# Polygon
- [Getting Started](https://polygon.readthedocs.io/en/latest/Getting-Started.html)
- [Stocks data](https://polygon.readthedocs.io/en/latest/Stocks.html)
- [Pricing](https://polygon.io/pricing)

In [24]:
import polygon
from polygon import StocksClient

POLYGON_API_KEY = os.environ['POLYGON_API_KEY']

In [25]:
reference_client = polygon.ReferenceClient(POLYGON_API_KEY)  # for usual sync client
reference_client.get_ticker_details(symbol='MSFT')

{'request_id': '7260acc223853eef818359babaa0da8d',
 'results': {'ticker': 'MSFT',
  'name': 'Microsoft Corp',
  'market': 'stocks',
  'locale': 'us',
  'primary_exchange': 'XNAS',
  'type': 'CS',
  'active': True,
  'currency_name': 'usd',
  'cik': '0000789019',
  'composite_figi': 'BBG000BPH459',
  'share_class_figi': 'BBG001S5TD05',
  'market_cap': 2556097563657.75,
  'phone_number': '425-882-8080',
  'address': {'address1': 'ONE MICROSOFT WAY',
   'city': 'REDMOND',
   'state': 'WA',
   'postal_code': '98052-6399'},
  'description': 'Microsoft develops and licenses consumer and enterprise software. It is known for its Windows operating systems and Office productivity suite. The company is organized into three equally sized broad segments: productivity and business processes (legacy Microsoft Office, cloud-based Office 365, Exchange, SharePoint, Skype, LinkedIn, Dynamics), intelligence cloud (infrastructure- and platform-as-a-service offerings Azure, Windows Server OS, SQL Server), and more personal computing (Windows Client, Xbox, Bing search, display advertising, and Surface laptops, tablets, and desktops).',
  'sic_code': '7372',
  'sic_description': 'SERVICES-PREPACKAGED SOFTWARE',
  'ticker_root': 'MSFT',
  'homepage_url': 'https://www.microsoft.com',
  'total_employees': 221000,
  'list_date': '1986-03-13',
  'branding': {'logo_url': 'https://api.polygon.io/v1/reference/company-branding/d3d3Lm1pY3Jvc29mdC5jb20/images/2023-05-01_logo.svg',
   'icon_url': 'https://api.polygon.io/v1/reference/company-branding/d3d3Lm1pY3Jvc29mdC5jb20/images/2023-05-01_icon.jpeg'},
  'share_class_shares_outstanding': 7435490000,
  'weighted_shares_outstanding': 7435487575,
  'round_lot': 100},
 'status': 'OK'}

In [26]:
stocks_client = polygon.StocksClient(POLYGON_API_KEY, connect_timeout=15)
current_price = stocks_client.get_current_price('AMD')

ValueError: Request failed. Make sure your API key is correct and your subscription has access to the data you requested. Response from the API: {'status': 'NOT_AUTHORIZED', 'request_id': '06f26347fa7e921c049c1d40cb2676a1', 'message': 'You are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing'}

# FRED
- [All US official economic time series](https://fred.stlouisfed.org/)
- [Free API Key](https://fred.stlouisfed.org/docs/api/api_key.html)
- See my [chartbook repo](https://github.com/druce/chartbook) for other official national data sources, OECD, IMF and other multilateral institutions)

In [27]:
import fredapi as fa
import pandas as pd

FRED_API_KEY = os.environ['FRED_API_KEY']

In [28]:
fred = fa.Fred(api_key=FRED_API_KEY)

gdp = fred.get_series('GDP')
gdp.name = 'gdp'
gdp.tail()

2022-01-01    24740.480
2022-04-01    25248.476
2022-07-01    25723.941
2022-10-01    26137.992
2023-01-01    26529.774
Name: gdp, dtype: float64

# EOD Historical data
- [Website](https://eodhistoricaldata.com/financial-apis/python-financial-libraries-and-code-samples/)
- [Pricing](https://eodhistoricaldata.com/pricing)
- [Register to get an API Key](https://eodhistoricaldata.com/register)

In [29]:
from eodhd import APIClient
EODHD_API_KEY = os.environ.get("EODHD_API_KEY")

In [30]:
api = APIClient(EODHD_API_KEY)

In [31]:
from eod_historical_data import get_eod_data
df = get_eod_data("AAPL", "US")
df

/Users/drucev/opt/anaconda3/envs/agents/lib/python3.10/site-packages/eod_historical_data/data.py:41: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(StringIO(r.text), skipfooter=1,

                Open      High       Low     Close  Adjusted_close     Volume
Date
1980-12-12   28.7392   28.8736   28.7392   28.7392          0.0996  469033600
1980-12-15   27.3728   27.3728   27.2608   27.2608          0.0944  175884800
1980-12-16   25.3792   25.3792   25.2448   25.2448          0.0875  105728000
1980-12-17   25.8720   26.0064   25.8720   25.8720          0.0896   86441600
1980-12-18   26.6336   26.7456   26.6336   26.6336          0.0923   73449600
...              ...       ...       ...       ...             ...        ...
2023-07-14  190.2300  191.1800  189.6300  190.6900        190.6900   41573900
2023-07-17  191.9000  194.3200  191.8100  193.9900        193.9900   50520200
2023-07-18  193.3500  194.3300  192.4200  193.7300        193.7300   48353800
2023-07-19  193.1000  198.2300  192.6500  195.1000        195.1000   80507300
2023-07-20  195.0900  196.4700  192.5000  193.1300        193.1300   59581200

[10740 rows x 6 columns]

# FinnHub
 - [Getting started and data availability](https://github.com/Finnhub-Stock-API/finnhub-python)
 - [API Docs](https://finnhub.io/docs/api)
 - [Register and get API key](https://finnhub.io/#)
 - [Pricing](https://finnhub.io/pricing)

In [64]:
import finnhub
FINNHUB_API_KEY = os.environ['FINNHUB_API_KEY']

In [ ]:
# Stock candles
res = finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249)
print(res)

#Convert to Pandas Dataframe
print(pd.DataFrame(res))

In [71]:
dt_object = datetime(2021, 1, 1, 0, 0, 0)
timestamp = dt_object.timestamp()
print(int(timestamp))

1609477200

In [75]:
start_date = "2021-01-01"
timestamp = datetime.strptime(start_date, "%Y-%m-%d").timestamp()
print(int(timestamp))
end_date = "2021-01-31"
timestamp = datetime.strptime(end_date, "%Y-%m-%d").timestamp()
print(int(timestamp))

1609477200
1612069200

In [76]:
finnhub_client = finnhub.Client(api_key = FINNHUB_API_KEY)
symbol = 'MSFT'
interval = 'D' # for daily stock candle values
start_date = 1609455600 # 2021-01-01
end_date = 1612047600 # 2021-01-31 

response = finnhub_client.stock_candles('MSFT',
                                        'D',
                                        start_date,
                                        end_date) 
df = pd.DataFrame(response)
# convert timestamps to datetime - some GMT stuff going on
df['t']=df['t'].apply(lambda timestamp: datetime.fromtimestamp(timestamp))
df

         c         h         l       o   s                   t         v
0   222.42  223.0000  219.6800  221.70  ok 2020-12-30 19:00:00  20942132
1   217.69  223.0000  214.8100  222.53  ok 2021-01-03 19:00:00  37130139
2   217.90  218.5200  215.7000  217.26  ok 2021-01-04 19:00:00  23822953
3   212.25  216.4899  211.9400  212.17  ok 2021-01-05 19:00:00  35930653
4   218.29  219.3400  213.7100  214.04  ok 2021-01-06 19:00:00  27694480
5   219.62  220.5800  217.0261  218.68  ok 2021-01-07 19:00:00  22956206
6   217.49  218.9100  216.7300  218.47  ok 2021-01-10 19:00:00  23047029
7   214.93  217.1000  213.3202  216.50  ok 2021-01-11 19:00:00  23249336
8   216.34  216.7600  213.9266  214.02  ok 2021-01-12 19:00:00  20087080
9   213.02  217.4600  212.7400  215.91  ok 2021-01-13 19:00:00  29346737
10  212.65  214.5100  212.0300  213.52  ok 2021-01-14 19:00:00  31746512
11  216.44  216.9800  212.6300  213.75  ok 2021-01-18 19:00:00  30480859
12  224.34  225.7900  217.2908  217.70  ok 2021-01-19 19:00:00  37777260
13  224.97  226.3000  222.4200  224.70  ok 2021-01-20 19:00:00  30749553
14  225.95  230.0700  225.8000  227.08  ok 2021-01-21 19:00:00  30172663
15  229.53  229.7800  224.2200  229.12  ok 2021-01-24 19:00:00  33152095
16  232.33  234.1800  230.0800  231.86  ok 2021-01-25 19:00:00  49169601
17  232.90  240.4400  230.1400  238.00  ok 2021-01-26 19:00:00  69870638
18  238.93  242.6400  235.0900  235.61  ok 2021-01-27 19:00:00  49111159
19  231.96  238.0200  231.3500  235.99  ok 2021-01-28 19:00:00  42503138

# Financial Modeling Prep
- [Getting Started](https://pypi.org/project/fmp-python/)
- [Docs](https://site.financialmodelingprep.com/developer/docs)
- [Pricing](https://site.financialmodelingprep.com/developer/docs/pricing)

In [77]:
from fmp_python.fmp import FMP
FMP_API_KEY = os.environ['FMP_API_KEY']

In [80]:
fmp = FMP(api_key=FMP_API_KEY)
pd.DataFrame(fmp.get_quote('AAPL')).transpose()

                                                 0
symbol                                        AAPL
name                                    Apple Inc.
price                                       191.94
changesPercentage                          -0.6162
change                                       -1.19
dayLow                                      191.32
dayHigh                                     194.97
yearHigh                                    198.23
yearLow                                     124.17
marketCap                            3018966757847
priceAvg50                                 183.186
priceAvg200                               157.4725
exchange                                    NASDAQ
volume                                    58364002
avgVolume                                 57417554
open                                         194.1
previousClose                               193.13
eps                                           5.89
pe                                           32.59
earningsAnnouncement  2023-08-03T00:00:00.000+0000
sharesOutstanding                      15728700416
timestamp                               1689969601

In [81]:
fmp = FMP(output_format = 'pandas', write_to_file= True)
fmp.get_historical_chart('5min','AAPL')

                    date      open       low      high     close   volume
0    2023-07-21 16:00:00  191.9400  191.9200  192.2600  192.2000  3263250
1    2023-07-21 15:55:00  191.9500  191.7800  192.2800  191.9300  2655205
2    2023-07-21 15:50:00  192.0700  191.2300  192.1000  191.9600  3258669
3    2023-07-21 15:45:00  192.3050  192.0600  192.4200  192.0700   945168
4    2023-07-21 15:40:00  192.3650  192.2100  192.4600  192.3050   738103
..                   ...       ...       ...       ...       ...      ...
785  2023-07-10 09:50:00  188.3900  187.3899  188.4000  187.6650  1893730
786  2023-07-10 09:45:00  188.7800  188.1800  188.9900  188.4000  1670277
787  2023-07-10 09:40:00  189.3281  188.7550  189.3871  188.7969  1264132
788  2023-07-10 09:35:00  189.0700  188.8100  189.4700  189.3250  1984481
789  2023-07-10 09:30:00  189.2600  189.0500  189.9900  189.0700  2313703

[790 rows x 6 columns]

# NewsAPI
- [Getting started](https://newsapi.org/docs/client-libraries/python)
- [Pricing](https://newsapi.org/pricing)
- [Get API Key](https://newsapi.org/register)

In [82]:
from newsapi import NewsApiClient
NEWSAPI_API_KEY = os.environ['NEWSAPI_API_KEY']

In [83]:
api = NewsApiClient(api_key=NEWSAPI_API_KEY)
sources = api.get_sources()
pd.DataFrame(sources['sources'])

,id,name,description,url,category,language,country
0,abc-news,ABC News,"Your trusted source for breaking news, analysi...",https://abcnews.go.com,general,en,us
1,abc-news-au,ABC News (AU),"Australia's most trusted source of local, nati...",http://www.abc.net.au/news,general,en,au
2,aftenposten,Aftenposten,Norges ledende nettavis med alltid oppdaterte ...,https://www.aftenposten.no,general,no,no
3,al-jazeera-english,Al Jazeera English,"News, analysis from the Middle East and worldw...",http://www.aljazeera.com,general,en,us
4,ansa,ANSA.it,"Agenzia ANSA: ultime notizie, foto, video e ap...",http://www.ansa.it,general,it,it
...,...,...,...,...,...,...,...
123,wired,Wired,"Wired is a monthly American magazine, publishe...",https://www.wired.com,technology,en,us
124,wired-de,Wired.de,Wired reports on how emerging technologies aff...,https://www.wired.de,technology,de,de
125,wirtschafts-woche,Wirtschafts Woche,Das Online-Portal des führenden Wirtschaftsmag...,http://www.wiwo.de,business,de,de
126,xinhua-net,Xinhua Net,"中国主要重点新闻网站,依托新华社遍布全球的采编网络,记者遍布世界100多个国家和地区,地方频...",http://xinhuanet.com/,general,zh,zh
127,ynet,Ynet,ynet דף הבית: אתר החדשות המוביל בישראל מבית יד...,http://www.ynet.co.il,general,he,is

In [101]:
bbc_top = api.get_top_headlines(sources='bbc-news')
for item in bbc_top['articles']:
    markdown_str = ""
    datestr = item['publishedAt'].split(".")[0]
    if datestr[-1]=='Z':
        datestr = datestr[:-1]
    date_object = datetime.strptime(datestr, "%Y-%m-%dT%H:%M:%S")
    markdown_str += f"[{str(date_object)} {item['title']}]({item['url']})\n {item['description']}"
    display(Markdown(markdown_str))

[2023-07-22 17:07:22 DC United: US sports trainer fired for 'discriminatory' hand gesture](http://www.bbc.co.uk/news/world-us-canada-66276187)
 The hand gesture was spotted in a social media photograph of the MLS football team's staff.

[2023-07-22 17:07:22 Jamshid Sharmahd: Iran could execute my dad at any time, says German woman](http://www.bbc.co.uk/news/world-europe-66268645)
 An Iranian-German businessman on death row may have made his last phone call, his daughter fears.

[2023-07-22 17:07:21 Biden chooses Lisa Franchetti to head Pentagon military branch](http://www.bbc.co.uk/news/world-us-canada-66275531)
 Admiral Lisa Franchetti will become the first woman to lead a Pentagon military branch if confirmed.

[2023-07-22 17:07:20 Europe heatwave: Temperatures to soar in Greece as fires still burn](http://www.bbc.co.uk/news/world-europe-66273287)
 Officials warn this could be Greece's hottest July weekend in 50 years, with temperatures hitting 45C.

[2023-07-22 15:52:16 Greece fires: Thousands flee homes and hotels on Rhodes as fires spread](http://www.bbc.co.uk/news/world-europe-66279520)
 Greece's deputy fire chief says the fires are the most difficult his service is currently facing.

[2023-07-22 12:07:20 Crimea bridge closed after fuel depot hit - Russia](http://www.bbc.co.uk/news/entertainment-arts-66276788)
 Russian-installed authorities halt railway services in Crimea and say Ukraine was behind a drone strike.

[2023-07-22 10:52:18 Jamie Foxx: Actor says he's 'on way back' after illness thanks to family](http://www.bbc.co.uk/news/entertainment-arts-66276785)
 Actor Jamie Foxx speaks publicly for the first time since being hospitalised earlier this year.

[2023-07-22 08:07:20 Matty Healy: 1975 show ended in Malaysia after singer attacks anti-LGBT laws](http://www.bbc.co.uk/news/world-asia-66275913)
 Matty Healy launched a lengthy attack on Malaysia's laws, before kissing his band's bass player.

[2023-07-22 03:37:13 Polarised Spain eyes the hard-right ahead of election](http://www.bbc.co.uk/news/world-europe-66268330)
 Spain goes to the polls to decide its next government on Sunday, and a hard-right coalition is looking likely.

[2023-07-21 23:37:17 Climate records tumble, leaving Earth in uncharted territory - scientists](http://www.bbc.co.uk/news/science-environment-66229065)
 A series of records on temperature, ocean heat, and Antarctic sea ice are "unprecedented", some scientists say.

In [103]:
top_headlines = api.get_top_headlines(
#     q='bitcoin',
    sources='bbc-news,the-verge',
#     category='business',
#     language='en',
#     country='us')
)
for item in top_headlines['articles']:
    markdown_str = ""
    datestr = item['publishedAt'].split(".")[0]
    if datestr[-1]=='Z':
        datestr = datestr[:-1]    
    date_object = datetime.strptime(datestr, "%Y-%m-%dT%H:%M:%S")
    markdown_str += f"[{str(date_object)} {item['title']}]({item['url']})\n {item['description']}"
    display(Markdown(markdown_str))

[2023-07-22 15:52:16 Greece fires: Thousands flee homes and hotels on Rhodes as fires spread](http://www.bbc.co.uk/news/world-europe-66279520)
 Greece's deputy fire chief says the fires are the most difficult his service is currently facing.

[2023-07-22 15:30:00 Netflix’s They Cloned Tyrone review: a modern Blaxploitation classic](http://www.theverge.com/23803139/they-cloned-tyrone-review-netflix)
 Netflix’s They Cloned Tyrone — streaming now — from director Juel Taylor is a wild send-up and celebration of Blaxploitation classics for a new generation.

[2023-07-22 15:00:00 In praise of an old iRiver MP3 player](http://www.theverge.com/23795072/iriver-mp3-player-retro-gadgets-we-love)
 The iRiver iHP-120 was the anti-iPod: marginally fussy to operate and packed with buttons, ports, and features. Mine’s still kicking at age 19.

[2023-07-22 15:00:00 One of the best puzzle RPGs gets another chance](http://www.theverge.com/2023/7/22/23803057/might-and-magic-clash-of-heroes-switch-steam-ps4)
 Might & Magic: Clash of Heroes, a puzzle RPG from Grindstone developer Capy Games, is now available on modern platforms, including Steam, PS4, and the Nintendo Switch.

[2023-07-22 14:18:13 SDCC 2023: all the biggest announcements from the convention](http://www.theverge.com/2023/7/22/23804013/sdcc-2023-san-diego-comic-con-movies-tv-shows-marvel-dc-gaming-news)
 San Diego Comic-Con 2023 is quieter than in past years as Hollywood strikes continue. Big movie studio participation is out, so the convention focuses instead on games, comics, and smaller film and TV projects.

[2023-07-22 14:00:00 What would the internet of people look like now?](http://www.theverge.com/2023/7/22/23803538/google-facebook-myspace-internet-culture-web-dot-com-crash)
 The web as we know it now is an intermediated experience — with algorithms between the humans. What if we went back to just talking to each other?

[2023-07-22 12:41:41 Save $50 on the wireless earbuds with the hands-down best noise cancellation](http://www.theverge.com/2023/7/22/23803410/bose-quietcomfort-earbuds-amazon-firetv-omni-xbox-elite-deal-sale)
 The Bose QuietComfort Earbuds II are selling for $249 new or $199 refurbished, while there are more deals on Amazon’s OMNI QLED TVs, the Xbox Elite Series 2 controller, and LG OLEDs.

[2023-07-22 12:07:20 Crimea bridge closed after fuel depot hit - Russia](http://www.bbc.co.uk/news/entertainment-arts-66276788)
 Russian-installed authorities halt railway services in Crimea and say Ukraine was behind a drone strike.

[2023-07-22 10:52:18 Jamie Foxx: Actor says he's 'on way back' after illness thanks to family](http://www.bbc.co.uk/news/entertainment-arts-66276785)
 Actor Jamie Foxx speaks publicly for the first time since being hospitalised earlier this year.

[2023-07-22 08:07:20 Matty Healy: 1975 show ended in Malaysia after singer attacks anti-LGBT laws](http://www.bbc.co.uk/news/world-asia-66275913)
 Matty Healy launched a lengthy attack on Malaysia's laws, before kissing his band's bass player.

[2023-07-22 06:22:17 Ex-Canadian Mountie charged over alleged China interference](http://www.bbc.co.uk/news/world-us-canada-66272727)
 An ex-Royal Canadian Mounted Police officer is alleged to have helped China with intimidation.

[2023-07-22 04:37:12 Matilda Sheils: Body found in search for missing US two-year-old](http://www.bbc.co.uk/news/world-us-canada-66275922)
 Matilda Sheils was swept away with with her nine-month-old brother Conrad in Pennsylvania last weekend.

[2023-07-22 03:37:13 Polarised Spain eyes the hard-right ahead of election](http://www.bbc.co.uk/news/world-europe-66268330)
 Spain goes to the polls to decide its next government on Sunday, and a hard-right coalition is looking likely.

[2023-07-22 00:07:20 From Ukraine to Aspen, nervousness over a critical moment for the war](http://www.bbc.co.uk/news/world-us-canada-66273787)
 At the Aspen Security Forum, the war in Ukraine is upper-most in the minds of policymakers.

[2023-07-21 23:37:17 Climate records tumble, leaving Earth in uncharted territory - scientists](http://www.bbc.co.uk/news/science-environment-66229065)
 A series of records on temperature, ocean heat, and Antarctic sea ice are "unprecedented", some scientists say.

[2023-07-21 21:07:21 Texas A&M president Katherine Banks leaves over hiring backlash](http://www.bbc.co.uk/news/world-us-canada-66275350)
 President Katherine Banks says the handling of a black professor's hiring had become a distraction.

[2023-07-21 18:11:21 Meta’s Llama 2 is biggest AI release since ChatGPT](http://www.theverge.com/2023/7/21/23803234/the-biggest-ai-release-since-chatgpt)
 Meta’s new AI model, Llama 2, has big implications — and some unusual restrictions.

[2023-07-21 16:56:37 Reddit expanded the r/Place canvas, and users immediately wrote messages cursing the CEO](http://www.theverge.com/2023/7/21/23803112/reddit-r-place-canvas-expand-protest-messages-cursing-ceo)
 Reddit added more space to the r/Place collaborative, giving users additional room to draw pixelated art and write in their protests against the site and its CEO.

[2023-07-21 13:30:16 What is Reddit CEO Steve Huffman doing?](http://www.theverge.com/23802373/reddit-ipo-valuation-moderation-ceo)
 Reddit CEO Steve Huffman seems to be preparing the company for an IPO. But is what’s good for the IPO good for the business?

[2023-07-21 12:00:00 Samsung Galaxy Unpacked 2023: how to watch the live stream and what to expect](http://www.theverge.com/23799567/samsung-galaxy-unpacked-live-stream-watch-date-time-z-flip-fold)
 Samsung is holding its biannual Unpacked event on July 26th, where it’s expected to take the wraps off a number of products, including the Galaxy Z Flip 5 and Z Fold 5.

In [109]:
all_articles = api.get_everything(q='bitcoin',
                                      sources='bbc-news,the-verge',
                                      domains='bbc.co.uk,techcrunch.com',
                                      from_param='2023-07-01',
                                      to='2023-07-30',
                                      language='en',
                                      sort_by='relevancy',
                                      page=1)

In [110]:
for item in all_articles['articles']:
    markdown_str = ""
    datestr = item['publishedAt'].split(".")[0]
    if datestr[-1]=='Z':
        datestr = datestr[:-1]    
    date_object = datetime.strptime(datestr, "%Y-%m-%dT%H:%M:%S")
    markdown_str += f"[{str(date_object)} {item['title']}]({item['url']})\n {item['description']}"
    display(Markdown(markdown_str))

[2023-07-11 14:00:00 Can banks push Bitcoin to clean up its act?](https://www.theverge.com/2023/7/11/23778688/bitcoin-energy-emissions-climate-change-banks-asset-managers-greenpeace)
 Banks and asset managers have a big stake in Bitcoin, so Greenpeace wants them to crack down on the cryptocurrency’s pollution.

[2023-07-13 14:03:06 Crypto lending firm Celsius Network and its former CEO sued by SEC, CFTC, FTC](https://techcrunch.com/2023/07/13/crypto-lending-firm-celsius-network-and-its-former-ceo-sued-by-sec-cftc-ftc/)
 The now-bankrupt crypto lending firm Celsius Network and its former CEO and co-founder Alex Mashinsky faced several lawsuits on Thursday morning from three...

[2023-07-06 19:00:00 Maybe the second half of 2023 will have greater capital flowing into crypto, but maybe not](https://techcrunch.com/2023/07/06/heres-to-hoping-the-rest-of-2023-has-more-capital-flowing-into-crypto/)
 Looking at the first half of 2023, funding for crypto startups continued to grow more scarce.  In Q2, venture capital flowing into the industry dropped for...

[2023-07-11 10:02:42 Popular AO3 fanfiction site goes down in wave of DDoS attacks](https://www.theverge.com/2023/7/11/23790860/ao3-fanfiction-archive-down-outage-ddos-attacks)
 Archive of Our Own (AO3) is currently experiencing a wave of distributed-denial-of-service (DDoS) attacks that have forced the website offline since Monday, and the issue could persist for weeks.

[2023-07-18 15:41:19 Telegram raises $210 million through bond sales | TechCrunch](https://techcrunch.com/2023/07/18/telegram-raises-210-million-through-bond-sales/)
 Telegram founder Pavel Durov bought "tens of millions" of the company's bonds as part of a $210 million bond sales this week.

# Stocksera
- some unusual social media and related info
- [Docs](https://stocksera.pythonanywhere.com/)
- [Getting started](https://github.com/guanquann/Stocksera-API)
- [API Key](https://stocksera.pythonanywhere.com/accounts/developers/)

In [122]:
import stocksera
client = stocksera.Client(api_key=os.environ['STOCKSERA_API_KEY'])

In [129]:
data = client.market_news()
for item in data[:20]:
    markdown_str = ""
    datestr = item['Date']
    markdown_str += f"[{datestr} {item['Source']} - {item['Title']}]({item['URL']})\n"
    display(Markdown(markdown_str))

[2023-07-23 17:09:50 CNBC - U.S. needs to go 'further and faster' to achieve climate goals, lawmakers say](https://www.cnbc.com/2023/07/23/us-needs-to-go-further-and-faster-to-achieve-climate-goals-lawmakers-say-.html)

[2023-07-23 16:42:16 Cointelegraph - Arkansas counties rush to pass noise regulations for crypto miners](https://cointelegraph.com/news/arkansas-rush-to-pass-noise-regulations-crypto-miners)

[2023-07-23 16:00:00 Dailyfx - Markets Week Ahead: Gold, Euro, USD, Yen Await Fed, ECB & BoJ; Big Tech Earnings Eyed](https://www.dailyfx.com/news/forex-markets-week-ahead-gold-euro-usd-yen-await-fed-ecb-boj-big-tech-earnings-eyed-20230723.html)

[2023-07-23 16:00:00 MarketWatch - Market Snapshot: Stocks are making a run for record territory. Will the Fed end its rate hikes anyway?](https://www.marketwatch.com/story/stocks-are-making-a-run-for-record-territory-will-the-fed-end-its-rate-hikes-anyway-31f80662)

[2023-07-23 15:54:11 Cointelegraph - Ripple effect? Stellar (XLM) is catching up to XRP price gains](https://cointelegraph.com/news/ripple-effect-stellar-xlm-xrp-price-gains)

[2023-07-23 14:01:00 MarketWatch - Earnings Watch: With Microsoft, Meta and Alphabet earnings hanging on AI, more investors are asking: ‘How are you going to pay for that?’](https://www.marketwatch.com/story/with-microsoft-meta-and-alphabet-earnings-hanging-on-ai-more-investors-are-asking-how-are-you-going-to-pay-for-that-2750287f)

[2023-07-23 14:00:01 CNBC - Psychologist: The No. 1 soft skill highly successful people use at work—‘It’s like having a superpower’](https://www.cnbc.com/2023/07/23/psychologist-no-1-soft-skill-highly-successful-people-use-at-work.html)

[2023-07-23 14:00:01 CNBC - How investors can get ahead by listening to a company's earnings conference call](https://www.cnbc.com/2023/07/23/how-investors-can-get-ahead-by-listening-to-an-earnings-call.html)

[2023-07-23 14:00:01 CNBC - The top 10 U.S. cities for retirees — No. 1 isn’t in Florida](https://www.cnbc.com/2023/07/23/top-10-us-cities-for-retirees.html)

[2023-07-23 13:30:01 CNBC - Billionaire Chobani CEO Hamdi Ulukaya says successful people can ditch this ‘rigid’ trait: It’s ‘never been my thing’](https://www.cnbc.com/2023/07/23/billionaire-chobani-ceo-on-planning-its-never-been-my-thing.html)

[2023-07-23 13:00:01 CNBC - Here's the salary Americans say they need to be happy — it's over $100,000 in 17 states](https://www.cnbc.com/2023/07/23/salary-americans-need-to-be-happy-is-over-100000-in-17-states.html)

[2023-07-23 11:05:01 CNBC - Warning labels in the U.S. seem to be everywhere. Here's why they may be pointless](https://www.cnbc.com/2023/07/23/why-most-consumers-ignore-warning-labels.html)

[2023-07-23 10:45:32 Cointelegraph - Bitcoin can still hit $19K, warns trader ahead of BTC price 'big move'](https://cointelegraph.com/news/bitcoin-can-hit-19k-btc-price-big-move)

[2023-07-23 10:20:36 Forexlive - Weekly Market Outlook (24-28 July)](https://www.forexlive.com/news/weekly-market-outlook-24-28-july-20230723/)

[2023-07-23 08:02:38 Cointelegraph - Nigerian central bank adds NFC upgrade to e-naira for contactless payments](https://cointelegraph.com/news/nigeria-cbn-enhances-e-naira-with-nfc-upgrade-for-contactless-payments)

[2023-07-23 06:39:48 Cointelegraph - SEC's appeal won't be a setback for XRP holders – Pro XRP lawyer](https://cointelegraph.com/news/sec-appeal-won-t-be-setback-for-xrp-holders-pro-xrp-lawyer)

[2023-07-23 06:10:28 Cointelegraph - Evidence of crypto usage by ISIS is 'mounting': TRM Labs](https://cointelegraph.com/news/evidence-crypto-usage-isis-trm-labs)

[2023-07-23 02:47:40 Cointelegraph - Terra interim CEO says any 'little progress' made gets derailed by accusations](https://cointelegraph.com/news/terra-ceo-progress-derailed-accusations)

[2023-07-23 00:09:00 MarketWatch - Economic Report: Are we still going to have a recession? Maybe next year.](https://www.marketwatch.com/story/are-we-still-going-to-have-a-recession-maybe-next-year-d78021dc)

[2023-07-22 21:41:00 MarketWatch - Living With Climate Change: Already roasting in extreme heat? 2024 could be even hotter, NASA scientists warn](https://www.marketwatch.com/story/already-roasting-in-extreme-heat-2024-could-be-even-hotter-nasa-scientists-warn-954ea6d3)

In [128]:
data = client.latest_insider_trading_summary()
data[:10]

[{'Ticker': 'LCID',
  'Amount': 1814687991,
  'Market Cap': 15618875750,
  '% of Mkt Cap': 11.619},
 {'Ticker': 'WMT',
  'Amount': -743928187,
  'Market Cap': 426465060664,
  '% of Mkt Cap': 0.174},
 {'Ticker': 'SXT',
  'Amount': -448468533,
  'Market Cap': 2762361316,
  '% of Mkt Cap': 16.235},
 {'Ticker': 'BLNK',
  'Amount': -276162594,
  'Market Cap': 379379740,
  '% of Mkt Cap': 72.793},
 {'Ticker': 'ROIV',
  'Amount': -258699982,
  'Market Cap': 8503934079,
  '% of Mkt Cap': 3.042},
 {'Ticker': 'CIVI',
  'Amount': -232401488,
  'Market Cap': 5693590907,
  '% of Mkt Cap': 4.082},
 {'Ticker': 'SNX',
  'Amount': -219538486,
  'Market Cap': 9107272885,
  '% of Mkt Cap': 2.411},
 {'Ticker': 'DELL',
  'Amount': -214505725,
  'Market Cap': 38951137276,
  '% of Mkt Cap': 0.551},
 {'Ticker': 'MSGE',
  'Amount': -194675997,
  'Market Cap': 1723894776,
  '% of Mkt Cap': 11.293},
 {'Ticker': 'ABNB',
  'Amount': -152896404,
  'Market Cap': 93763035011,
  '% of Mkt Cap': 0.163}]

# Quandl
- acquired by NASDAQ, free API doesn't seem to work
- https://demo.quandl.com/
- https://data.nasdaq.com/

In [111]:
import quandl
quandl.ApiConfig.api_key = os.environ['QUANDL_API_KEY']

In [117]:
# not up to date
data = quandl.get("FRED/GDP", start_date="2011-01-01", end_date="2023-12-31")
data

                Value
Date
2011-01-01  15351.444
2011-04-01  15557.535
2011-07-01  15647.681
2011-10-01  15842.267
2012-01-01  16068.824
2012-04-01  16207.130
2012-07-01  16319.540
2012-10-01  16420.386
2013-01-01  16629.050
2013-04-01  16699.551
2013-07-01  16911.068
2013-10-01  17133.114
2014-01-01  17144.281
2014-04-01  17462.703
2014-07-01  17743.227
2014-10-01  17852.540
2015-01-01  17991.348
2015-04-01  18193.707
2015-07-01  18306.960
2015-10-01  18332.079
2016-01-01  18425.306
2016-04-01  18611.617
2016-07-01  18775.459
2016-10-01  18968.041
2017-01-01  19153.912
2017-04-01  19322.920
2017-07-01  19558.693
2017-10-01  19882.965
2018-01-01  20143.716
2018-04-01  20492.492
2018-07-01  20659.102
2018-10-01  20813.325
2019-01-01  21001.591
2019-04-01  21289.268
2019-07-01  21505.012
2019-10-01  21694.458
2020-01-01  21481.367
2020-04-01  19477.444
2020-07-01  21138.574
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

In [116]:
# free discontinued maybe
tsla = quandl.get('WIKI/TSLA', start_date = "2017-06-29", end_date = "2023-03-27")
tsla

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-06-29,370.61,371.0000,354.1000,360.75,8180408.0,0.0,1.0,370.61,371.0000,354.1000,360.75,8180408.0
2017-06-30,363.71,366.7674,359.6187,361.61,5759458.0,0.0,1.0,363.71,366.7674,359.6187,361.61,5759458.0
2017-07-03,370.24,371.3500,351.5000,352.62,6297330.0,0.0,1.0,370.24,371.3500,351.5000,352.62,6297330.0
2017-07-05,347.20,347.2400,326.3300,327.09,16883496.0,0.0,1.0,347.20,347.2400,326.3300,327.09,16883496.0
2017-07-06,317.26,320.7899,306.3000,308.89,19189195.0,0.0,1.0,317.26,320.7899,306.3000,308.89,19189195.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,310.25,322.4400,310.1900,316.53,5927881.0,0.0,1.0,310.25,322.4400,310.1900,316.53,5927881.0
2018-03-22,313.89,318.8200,308.1800,309.10,4914307.0,0.0,1.0,313.89,318.8200,308.1800,309.10,4914307.0
2018-03-23,311.25,311.6100,300.4500,301.54,6600538.0,0.0,1.0,311.25,311.6100,300.4500,301.54,6600538.0
2018-03-26,307.34,307.5900,291.3600,304.18,8324639.0,0.0,1.0,307.34,307.5900,291.3600,304.18,8324639.0
2018-03-27,304.00,304.2700,277.1800,279.18,13696168.0,0.0,1.0,304.00,304.2700,277.1800,279.18,13696168.0